/* mengubah warna fecebook dan mengeser jadi di tengah */
h1 {
  color: darkblue;
  font-size: 60px;
  font-family: Comic Sans ms;
  text-align: center;
}
/* mengeser teks ke kiri  */
h4 {
  text-align: right;
}
/* mengubah warna name:jadi putih */
h3 {
  a {
    color: aliceblue;
    font-variant: small-caps;
  }
}
/* mengubah background jadi aqua */
body {
  background-color: aqua;
  font-family: Georgia;
}
/* mengubah warna teks paragraf 1 jadi goldenround */
p {
  color: goldenrod;
  text-align: center;
}
/* mengubah warna teks paragraf 2 jadi hitam */
.warnahitam {
  color: black;
}
